
@{
    ViewBag.Title = "Index";
}
@Html.Action("_Header", "Modules")
<section class="section-text-white position-relative">
    <div class="d-background" data-image-src="http://via.placeholder.com/1920x1080" data-parallax="scroll"></div>
    <div class="d-background bg-theme-blacked"></div>
    <div class="mt-auto container position-relative">
        <div class="top-block-head text-uppercase">

        </div>
        <div class="top-block-footer">
            <div class="slick-spaced slick-carousel" data-slick-view="navigation responsive-4">


                @Html.Action("_MovieActive", "Movies")


                <div class="slick-arrows">
                    <div class="slick-arrow-prev">
                        <span class="th-dots th-arrow-left th-dots-animated">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div class="slick-arrow-next">
                        <span class="th-dots th-arrow-right th-dots-animated">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section-head-img"><img src="~/Public/images/parts/movie.png" /></div>
<div class="section-head">
    <h2 class="section-title text-uppercase">PHIM ĐANG CHIẾU</h2>
    @*<p class="section-text">@DateTime.Now.ToString("dd/MM/yyyy")</p>*@
</div>
<section class="section-long">
    <div class="container">
        <!--<div class="section-head">
            <h2 class="section-title text-uppercase">PHIM ĐANG CHIẾU</h2>-->
        @*<p class="section-text">@DateTime.Now.ToString("dd/MM/yyyy")</p>*@
        <!--</div>-->
        @Html.Action("_MovieOfDay", "Movies")
    </div>
</section>


<a class="scroll-top disabled" href="#"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
@Html.Action("_footer", "Modules")
