@model Webanvexemphim.Models.user
@{
    ViewBag.Title = "Cập nhật";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";


}
@{
    List<SelectListItem> status = new List<SelectListItem>();

    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Xuẩt Bản" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Chưa Xuất bản" };
    status.Add(statusitem1);
    status.Add(statusitem2);

    List<SelectListItem> gender = new List<SelectListItem>();

    SelectListItem gendertitem1 = new SelectListItem() { Value = "Nam", Text = "Nam" };
    SelectListItem gendertitem2 = new SelectListItem() { Value = "Nữ", Text = "Nữ" };
    gender.Add(gendertitem1);
    gender.Add(gendertitem2);
    var role = ViewBag.role;
}
@Html.Partial("~/Areas/Admin/Views/Shared/_topMenu.cshtml")
@Html.Partial("~/Areas/Admin/Views/Shared/_leftMenu.cshtml")
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2 bg-light">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Thông tin tài khoản</h1>
                </div><!-- /.col -->
                <div class="col-sm-6 ">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Thông tin</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


   
    <section class="pt-2 container card">
        @Html.Partial("_MessgeAlert")
        <div class=" bg-white p-4 ">
            <a class="btn btn-sm bg-danger text-white" href="~/Admin/logout"><span class="text-white"><i class="fas fa-power-off"></i> Đăng Xuất</span> </a>
            <span class="float-right">Loại tài khoản:  <span class="badge badge-dang99er"> @role.accessName</span>  || mô tả:<span class="badge badge-success"> @role.description </span></span>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.created_by)
                @Html.HiddenFor(model => model.img)
                @Html.HiddenFor(model => model.password)
                @Html.HiddenFor(model => model.status)
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> Thông tin User</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                            <a href="~/admin/category" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><span class=" ">Tên đầy đủ</span></label>
                            @Html.EditorFor(model => model.fullname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.fullname, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Tên đăng nhập</span></label>
                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                            <span class="text-cam">@ViewBag.error1</span>
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Email của bạn</span></label>
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class=" ">Số điện thoại</span></label>
                            @Html.EditorFor(model => model.phone, new { htmlAttributes = new { type = "number", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div>
                            <label for="psw"><span class=" ">Giới tính</span></label>
                            @Html.DropDownListFor(model => model.gender, gender, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.gender, "", new { @class = "text-danger" })
                        </div>
                        @if (Model.access == 2)
                        {<div><span class="text-danger">Chú ý(*):</span> <span> Bạn chỉ có thể xem thống kê xem sản phẩm, không thể chỉnh sửa và xóa bất cứ thứ gì.</span></div>}
                        @if (Model.access == 3)
                        {<div><span class="text-danger">Chú ý(*):</span> <span> Bạn chỉ có thể Thêm Sản phẩm, Sửa sản phẩm, Xóa sản phầm. bạn không thể vào các trang khác</span></div>}

                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#in4").addClass("active");
    </script>
