@model IEnumerable<Webanvexemphim.Models.topic>

@{
    ViewBag.Title = "topic";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



            <div class="card card-title bg-white p-1">
                <div class="row">
                    <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Quản lý chủ đề bài viết</h5> </div>
                    <div class="col-md-6 m-0">
                        <ol class="breadcrumb bg-white float-sm-right m-0">
                            <li class="breadcrumb-item m-0"><a href="~/Admin">Home</a></li>
                            <li class="breadcrumb-item active m-0">Quản lý chủ đề bài viết</li>
                        </ol>
                    </div>
                </div>
            </div>

            <section class=" ">
                <div class=" bg-white card p-3 ">

                    <div class="row">
                        <div class="col-md-9  w-100 ">
                            @Html.Partial("_MessgeAlert")
                        </div>
                        <div class="col-md-3 ">
                            <div class=" pt-1 ml-5">
                                <a class="text-white btn-sm btn-success" href="~/Admin/Topic/Create">Add Topic <i class="fas fa-plus"></i></a>
                                <a class="text-white btn-sm btn-danger " href="~/Admin/Topic/trash">Thùng rác<i class="fas fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9  w-100 ">
                            @Html.Partial("_MessgeAlert")
                        </div>
                        <div class="col-md-12 p-3">

                            <table id="myTable1" class="table  table-striped table-bordered dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th width="30%">Tên chủ đề</th>
                                        <th width="20%">Link</th>
                                        <th>Thứ tự</th>
                                        <th width="20%">Chức Năng</th>
                                        <th>ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><a class=" font-weight-bold card-link " href=""> @Html.DisplayFor(modelItem => item.name)</a></td>
                                            <td> @Html.DisplayFor(modelItem => item.slug)</td>

                                            <td style="font-size:14px;">@Html.DisplayFor(modelItem => item.created_at)</td>
                                            <td>
                                                @if (item.status == 1)
                                                {
                                                    <a class="btn btn-sm btn-light text-success border a33" href="@Url.Action("Status", "topic", new { id = item.ID })"> <i class="fas fa-toggle-on"></i> </a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-sm btn-light text-danger border a33" href="@Url.Action("Status", "topic", new { id = item.ID })"> <i class="fas fa-toggle-off"></i> </a>
                                                }
                                                <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("Deltrash", "topic", new { id = item.ID })"> <i class="fas fa-trash-alt"></i></a>
                                                <a class="btn btn-sm btn-light text-warning border" href="@Url.Action("Edit", "topic", new { id = item.ID })">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                            </td>
                                            <td class="text-cam">@Html.DisplayFor(modelItem => item.ID)</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </section>
            <script>
                $("#topic").addClass("active");
            </script>
