@model IEnumerable<Webanvexemphim.Models.Morder>

@{
    /**/

    ViewBag.Title = "Category";
    Layout = "~/Areas/Bdmin/Views/Shared/_LayoutBdmin.cshtml";
}
<!-- Content Wrapper. Contains page content -->
<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thùng rác đơn hàng</h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item m-0"><a href="~/Bdmin">Home</a></li>
                <li class="breadcrumb-item active m-0">Thùng rác đơn hàng</li>
            </ol>
        </div>
    </div>
</div>


  
<section class=" ">
    <div class=" bg-white card p-3 ">
        <div class="row justify-content-end">
            <div class="col-md-3">
                <div class=" pt-2 ml-5 float-right mr-3">
                    <a class="text-white btn-sm btn-danger " href="~/Bdmin/orders">Thoát</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9  w-100 ">
                @Html.Partial("_MessgeAlert")
            </div>
            <div class="col-md-12 p-3">

                <table id="myTable" class="table  table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên khách hàng</th>
                            <th>Ngày Tạo</th>
                            <th>Trang thái</th>
                            <th>Chi tiết</th>
                            <th>Chức Năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            String dh1 = "Đã xác nhận";
                            String dh2 = "chờ xác nhận";
                            <tr>

                                <td><a class="text-cam font-weight-bold card-link " href=""> @Html.DisplayFor(modelItem => item.ID)</a></td>
                                <td> @Html.DisplayFor(modelItem => item.deliveryname)</td>
                                <td width="10%">@Html.DisplayFor(modelItem => item.created_ate) </td>
                                <td>
                                    @if (item.status == 1)
                                    {
                                        <p class="text-success"> @dh1</p>
                                    }
                                    else
                                    { <p class="text-danger"> @dh2</p>}
                                </td>

                                <td class="text-cam "><a href="#">Xem Chi tiết</a></td>
                                <td>
                                    <a class="btn btn-sm btn-light text-dark border" href="@Url.Action("Retrash", "Orders", new { id = item.ID })"> <i class="fas fa-undo"></i></a>
                                    <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("deleteTrash", "Orders", new { id = item.ID })">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</section>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
    <script>
        $("#order").addClass("active");
    </script>
