@model Webanvexemphim.Models.post

@{

    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    List<SelectListItem> status = new List<SelectListItem>();

    SelectListItem statusitem1 = new SelectListItem() { Value = "1", Text = "Xuẩt Bản" };
    SelectListItem statusitem2 = new SelectListItem() { Value = "2", Text = "Chưa Xuất bản" };
    status.Add(statusitem1);
    status.Add(statusitem2);



    SelectListItem listcatitem;
    foreach (var item in ViewBag.listTopic)
    {
        listcatitem = new SelectListItem() { Value = item.ID + "", Text = item.name + "" };
        listcat.Add(listcatitem);
    }

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row m-0 bg-light">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Cập Nhật Bài viết</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Admin">Home</a></li>
                        <li class="breadcrumb-item active">Cập nhật bài viết</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <section class="pt-2 container card">
        @Html.Partial("_MessgeAlert")
        <div class="container bg-white p-4 ">

            @using (Html.BeginForm("Edit", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.created_at)
                @Html.HiddenFor(model => model.created_by)
                @Html.HiddenFor(model => model.img)
                <div class=" row ">
                    <div class="col-md-4">  </div>
                    <div class="col-md-4"> <h3 class="text-center font-weight-bold text-success "> CẬP NHẬT BÀI VIẾT</h3> </div>
                    <div class="col-md-4 ">
                        <div class="float-right">
                            <button class="btn btn-sm bg-success text-white"><i class="far fa-save"></i> Lưu</button>
                            <a href="~/Admin/post" class="btn btn-sm bg-danger text-white"><i class="far fa-window-close"></i> Hủy</a>
                        </div>
                    </div>
                </div>
                <div class=" row ">
                    <div class="col-md-8">
                        <div>
                            <label for="psw"><span class="text-secondary ">Tiêu đề bài viết</span></label>
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Mô tả ngắn</span></label>
                            <textarea class="form-control"  name="descriptionShort" rows="3"> @Model.descriptionShort</textarea>
                        </div>

                        <div>
                            <label for="psw"><span class="text-secondary ">Nội dung bài viết</span></label>
                            @Html.TextAreaFor(model => model.detail, new
                            {
                                @class = "form-control textarea",
                           @style = "width: 100%;font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                            })
                            @Html.ValidationMessageFor(model => model.detail, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div>
                            <label for="psw"><span class="text-secondary ">Từ khóa SEO</span></label>
                            @Html.EditorFor(model => model.metakey, new { htmlAttributes = new { @class = "form-control ckeditor" } })
                            @Html.ValidationMessageFor(model => model.metakey, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Mô ta SEO</span></label>
                            @Html.EditorFor(model => model.metadesc, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.metadesc, "", new { @class = "text-danger" })
                        </div>
                        <label for="psw"><span class="text-secondary ">Chọn loại Loại Bài viết</span></label>
                        <div>
                            @Html.DropDownListFor(model => model.topid, listcat, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.topid, "", new { @class = "text-danger" })
                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Hình ảnh Bài viết</span></label>
                            <input type="file" class="form-control" name="img" />
                            @Html.ValidationMessageFor(model => model.img, "", new { @class = "text-danger" })

                        </div>
                        <div>
                            <label for="psw"><span class="text-secondary ">Trang Thái</span></label>
                            @Html.DropDownListFor(model => model.status, status, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })

                        </div>
                    </div>


                </div>
            }
        </div>
    </section>
    <script>
        $("#post").addClass("active");
        $(function () {
            // Summernote
            $('.textarea').summernote()
        })
    </script>
