@model IEnumerable<Webanvexemphim.Models.post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="card card-title bg-white p-1">
    <div class="row">
        <div class="col-md-6 "> <h5 class="pl-2 mt-2 text-blues">Thùng rác loại SP</h5> </div>
        <div class="col-md-6 m-0">
            <ol class="breadcrumb bg-white float-sm-right m-0">
                <li class="breadcrumb-item m-0"><a href="~/Admin">Home</a></li>
                <li class="breadcrumb-item active m-0">Thùng rác loại sản phẩm</li>
            </ol>
        </div>
    </div>
</div>
    <!-- /.content-header -->
            <section class=" ">
                <div class=" bg-white card p-3 ">

                    <div class="row">
                        <div class="col-md-9  w-100 ">
                            @Html.Partial("_MessgeAlert")
                        </div>
                        <div class="col-md-3 ">
                            <div class=" pt-1 ml-5 pl-5">
                                <a class="text-white btn-sm btn-danger " href="~/Admin/Post">Thoát</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9  w-100 ">
                            @Html.Partial("_MessgeAlert")
                        </div>
                        <div class="col-md-12 p-3">

                            <table class="table px-3 table-striped table-bordered dt-responsive nowrap">
                                <thead>
                                    <tr>
                                        <th>Hình ảnh</th>
                                        <th>Tên bài viết</th>
                                        <th>Loại bài viết</th>
                                        <th>Ngày Tạo</th>
                                        <th>Chức Năng</th>
                                        <th>ID</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        string title = item.title;
                                        <tr>

                                            <td><img width="20px" src="~/public/images/post/@Html.DisplayFor(modelItem => item.img)"></td>
                                            <td>
                                                @if (title.Length > 50)
                                                {
                                                    <a class=" font-weight-bold card-link " href="">@title.Substring(0, 50) ...</a>

                                                }
                                                else
                                                {
                                                    <a class=" font-weight-bold card-link " href="">@title </a>
                                                }
                                            </td>
                                            <td width="15%" class="pt-4 ">  @Html.DisplayFor(modelItem => item.topid)</td>
                                            <td style="font-size:15px;">@Html.DisplayFor(modelItem => item.created_at)</td>
                                            <td>
                                                <a class="btn btn-sm btn-light text-dark border" href="@Url.Action("Retrash", "post", new { id = item.ID })"> <i class="fas fa-undo"></i></a>
                                                <a class="btn btn-sm btn-light text-danger border" href="@Url.Action("deleteTrash", "post", new { id = item.ID })">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </td>
                                            <td class="text-cam">@Html.DisplayFor(modelItem => item.ID)</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </section>


            <script>
                $("#post").addClass("active");
            </script>
